body{background-color: black;}
h1{color:#B9D6F2;
text-align:center;
font-size:42px}
#startScreen
{
position: absolute;
top:0;
left:0;
width:100%;
height:100%;
display: flex;
justify-content:center;
align-items: center;

z-index:1000;

}
#startBtn
{padding:20px 41px;
font-size:23px;
font-weight:bold;
border:none;
border-radius:40px;
background: linear-gradient(135deg,#243b41,#6c63ff);

color:white;
cursor:pointer;
box-shadow:0px 12px 30px rgba(76, 82, 167, 0.6);
text-transform:uppercase;
letter-spacing: 2px;
transition:all 0.3s ease;
animation: pulse 1.5s infinite;

}
#startBtn:hover
{transform: scale(1,1);
box-shadow: o 12px 30px rgba(77, 146, 224, 0.6);
background: linear-gradient(135deg,#6c63ff,#ff4ecd);
}
@keyframes pulse {
0% { box-shadow:0 0 10px rgba(20, 9, 19, 0.6);}
50% { box-shadow: 0 0 25px rgba(108,99,255,0.9);}
100%{box-shadow:0 0 10px rgba(167, 85, 156, 0.6);}
}


#controls{
display:none;
text-align:center;
  font-size: 1.2rem;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
  transition: all 0.3s ease;
  color: white;}



#clear-btn {
  padding:20px 41px;
font-size:23px;
font-weight:bold;
border:none;
border-radius:40px;
background: linear-gradient(135deg,#ff4ecd,#6c63ff);

color:white;
cursor:pointer;
box-shadow:0px 12px 30px rgba(225,78,205,0.6);
text-transform:uppercase;
letter-spacing: 2px;
transition:all 0.3s ease;
animation: pulse 1.5s infinite;
  
}
#clear-btn:hover {
  transform: scale(1,1);
  box-shadow: 0 6px 20px rgba(255, 65, 108, 0.6);
}


#play-btn{
  padding:20px 41px;
font-size:23px;
font-weight:bold;
border:none;
border-radius:40px;
background: linear-gradient(135deg,#ff4ecd,#6c63ff);

color:white;
cursor:pointer;
box-shadow:0px 12px 30px rgba(225,78,205,0.6);
text-transform:uppercase;
letter-spacing: 2px;
transition:all 0.3s ease;
animation: pulse 1.5s infinite;
}
#play-btn:hover {
  transform: scale(1,1);
  box-shadow: 0 6px 20px rgba(0, 198, 255, 0.6);
}
